{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %} 
<div class="col-md-2">
  <div class="hovereffect">
    <img src="{{ song.image.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
    <div class="overlay">
        <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'song:play_song' song.id %}"><i class="fa fa-play" aria-hidden="true"></i></a>
       
     </div>
  </div>
</div>

<footer class="footer">
    <div class="player" style="padding-left: 10px;padding-top:10px;background-color: #459dfb;">
      <div class="left"><img src="{{song.image.url}}" height="90" width="90" style="border-radius: 10px 10px 10px 10px;"></div>
      <div class="right">
         <div class="top">
            <a class="song" style="margin-left: 15px;color: white;">{{song.name}}</a>
            <a class="artist" style="margin-left: 15px;color:white">{{song.artist}}</a>
         </div>
         <div class="bottom">
          {% if first_time %}
            <audio controls=""  name="media" style="margin-left: 20px;margin-bottom: 10px;width: 1230px;height:30px"><source src="{{song.audio.url}}" type="audio/mpeg" ></audio>
              {% else %}
              <audio controls="" autoplay name="media" style="margin-left: 20px;margin-bottom: 10px;width: 1230px;height:30px"><source src="{{song.audio.url}}" type="audio/mpeg" ></audio>
                {% endif %}
          </div>
      </div>
    </div>
</footer>

{% endblock body %}